/* This file is the main application css. */

body {
  font-family: 'Bai Jamjuree', sans-serif;
  font-size: .8rem;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  margin-bottom: 0rem;
}

@media only screen and (max-width: 768px) {
  .navbar-text {
    display: none;
    visibility: hidden;
  }

  body {
    min-width: 1024px;
    margin: 0 auto;
  }
}

@media (min-width:768px) {
  body {
    margin-left: 200px;
  }

  .navbar {
    background-color: #f0f0ef;
  }

  .navbar.fixed-left {
    position: fixed;
    top: 0;
    left: 0;
  }

  .navbar.fixed-left {
    bottom: 0;
    width: 200px;
    border-right: .1em solid;
    flex-flow: column nowrap;
    align-items: flex-start
  }

  .navbar.fixed-left .navbar-collapse {
    flex-grow: 0;
    flex-direction: column;
    width: 100%
  }

  .navbar.fixed-left .navbar-collapse .navbar-nav {
    flex-direction: column;
    width: 100%
  }

  .navbar.fixed-left .navbar-collapse .navbar-nav .nav-item {
    width: 100%
  }

  .navbar.fixed-left .navbar-collapse .navbar-nav .nav-item .dropdown-menu {
    top: 0
  }
  .navbar.fixed-left {
    right: auto
  }

  .navbar.fixed-left .navbar-nav .nav-item .dropdown-toggle:after {
    border-top: .3em transparent;
    border-left: .3em solid;
    border-bottom: .3em transparent;
    border-right: none;
    vertical-align: baseline
  }

  .navbar.fixed-left .navbar-nav .nav-item .dropdown-menu {
    left: 100%
  }

  .ocsf-logo {
    background-color: #224F8B;
    margin-top: 0.6rem;
    margin-bottom: 0px;
  }

  .ocsf-logo img {
    height: 78px;
    width: auto;
    display: block;
  }

  .version {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  
  .version form:before {
    content: "\25BC";
  }

  .select-version {
    cursor: pointer;
    border: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    margin-left: -10px;
    padding-left: 8px;
    background-color: transparent;
  }

  .select-version option {
    color: initial
  }

  .select-version:focus {
    outline: none
  }

  .divider {
    margin-top: 0rem;
    margin-bottom: 0.2rem;
    border: 0;
    border-top: 4px solid rgba(0, 0, 0, 0.5);
  }
}

hr {
  margin-top: 0.1rem;
  margin-bottom: 0.3rem;
  background-color: #cccccc;
}

.move-up {
  margin-top: 0.6rem;
}

.title-uppercase {
  text-transform: uppercase;
}

blockquote {
  font-style: italic;
}

blockquote small {
  font-style: normal;
}

.glyphicon {
  line-height: 1;
}

.required {
  color: black;
  font-weight: 500;
}

.reserved {
  color: rgb(46, 26, 177);
  font-weight: 500;
}

sup {
  font-weight: 500;
}

.uid {
  font-weight: 400;
}

.optional {
  color: #403D39;
  font-weight: 300;
}

strong {
  color: #403D39;
}

a {
  color: rgb(89, 89, 166);
}

a:hover, a:focus, a:active {
  color: rgb(28, 115, 227);
}

#profiles {
  color: #5959a6 !important;
}

#profiles a:hover, a:focus, a:active {
  color: #1c73e3 !important;
}

.ui-slider-handle:focus, .navbar-toggle, input:focus, button:focus {
  outline: 0 !important;
}

li {
  margin-bottom: 4px;
}

/* Custom page footer */
.footer {
  z-index: 2;
  position: fixed;
  bottom: 0;
  padding: 3px;
  font-size: .7rem;
  color: rgb(0, 0, 72);
  background-color: lightgray;
  background-image: linear-gradient(snow, gray);
}

.footer a {
  color: rgb(40, 40, 166);
}

.footer a:hover, a:focus, a:active {
  color: rgba(30, 50, 227);
}

.active {
  border-bottom: 2px solid #00A4B7;
}

.rights {
  position: fixed;
  width: 100%;
  bottom: 50px;
}

table {
  table-layout: fixed;
  word-wrap: break-word;
}

table tr td {
  padding: 0 20px;
}

table.table-borderless tr td {
  padding: 0 10px !important;
  padding: 0 20px;
}

tr.thead-color {
  background-color: #224F8B;
  color: lightgrey;
}

tr th a {
  color: lightgrey;
}

.borderless th {
  border: none;
}

.name {
  background-color: #cccccc;
}

.links {
  padding-top: 20px;
}

.btn-link {
  padding-top: 0.42rem;
  font-size: 0.8rem;
}

.main-page {
  z-index: -1;
  padding-bottom: 62px;
}

.capitalize {
  text-transform: capitalize;
}

span.hidden {
  display: none;
}

/* Collapsible description */

[data-toggle="collapse"].collapsed .if-not-collapsed {
  display: none;
}

[data-toggle="collapse"]:not(.collapsed) .if-collapsed {
  display: none;
}

.tooltip-inner {
  white-space: pre-wrap;
  word-wrap: normal;
  max-width: 500px;
  color: #2d2e2e;
  text-align: left;
  background: lightyellow;
  border: 1px solid #161616;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

#network {
  width: 100%;
  height: 100vh;
}

label {
  display: inline-block; 
  vertical-align: top;
}

input[type=checkbox]:hover {
  box-shadow:0px 0px 8px #1c73e3;
}


/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: block;
}

/* Dropdown Content */
.dropdown-content {
  display: none;
  position: absolute;
  right: 1%;
  background-color: #f0f0ef;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: rgb(255, 251, 251);
  padding: 12px 16px;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

.multi-col {
  -webkit-columns: 4 18rem;
     -moz-columns: 4 18rem;
          columns: 4 18rem;
}

section.category {
  border: 1px solid;
  border-color: rgb(222, 226, 230);
  padding: 1em;
  margin-bottom: 1em;
  -webkit-break-inside: avoid;
     -moz-break-inside: avoid;
          break-inside: avoid;
}

section.category header {
  background-color: #224F8B;
  color: lightgrey;
  font-weight: bold;
  padding: 0.4rem;
  margin-bottom: 0.2rem;
}

section.category header a {
  color: lightgrey;
}

section.category div.ocsf-class {
  margin-left: 1em;
}

div.references {
  border: 1px solid;
  border-color: rgb(222, 226, 230);
  padding: 1em;
  margin-bottom: 1em;
  -webkit-columns: 4 18rem;
     -moz-columns: 4 18rem;
          columns: 4 18rem;
}

div.references div.reference {
  -webkit-break-inside: avoid;
     -moz-break-inside: avoid;
          break-inside: avoid;
}